export SLACK_BOT_TOKEN=
export SLACK_CHANNEL=
export BOT_ID=
export TWILIO_ACCOUNT_SID=
export TWILIO_API_KEY=
export TWILIO_API_SECRET=
export TWILIO_IPM_SERVICE_SID=

export SLACK_BOT_TOKEN=
export SLACK_API_TOKEN=
export SLACK_USER_ID=
export SLACK_BOT_ID=

export TWILIO_ACCOUNT_SID
export TWILIO_API_KEY
export TWILIO_API_SECRET
export TWILIO_IPM_SERVICE_SID
export TWILIO_AUTH_TOKEN

export DB_HOST=
export DB_USER=
export DB_NAME=
export DB_PASS=