* {
  box-sizing:border-box;
}

.demo-app-link {
  text-align: center;
  color: lightgrey;
  font-weight: 100;
  font-size: 60px;
}

.demo-app-link span {
  color: black;
  font-weight: 700;
}

#contact form {
  max-width: 400px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 50px auto 70px;
  padding: 30px 20px;
  background-color: rgba(0,0,0,0.2);
}

#contact h1 {
  margin-top: 0;
}

#chat-window {
  margin: 50px auto;
}

.hidden {
  display: none;
}

.button {
  border: 2px solid white;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 0;
  margin: 30px auto 10px;
}

.button:hover {
  border-color: #E68A18;
  background-color: #477E91;
  cursor: pointer;
}

form input {
  display: block;
  max-width: 320px;
  height: 42px;
  margin: 0 20px 20px;
  font-size: 28px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid darkgrey;
  padding: 0;
  color: #FFFFFF;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #dedede;
  background-color: #477E91;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  width:100%;
  position:absolute;
  text-align:center;
  bottom:20px;
}

header a, header a:visited {
  font-size:18px;
  color:#dedede;
  text-decoration:none;
}

header a:hover {
  text-decoration:underline;
}

#chat-window input {
  display:block;
  height: 52px;
  width: 100%;
  max-width: 800px;
  margin:10px auto;
  outline:none;
  background-color:transparent;
  border:none;
  border-bottom:1px solid #2B2B2A;
  padding:0;
  font-size:42px;
  color: #FFFFFF;
  visibility: visible;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#chat-window input:disabled {
  background-color: rgba(0, 0, 0, 0.6);
  width: 0;
  visibility: hidden;
}

#messages {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  height: 500px;
  max-width: 800px;
  margin: 0 auto;
  overflow-y: auto;
}

#messages p {
  margin: 5px 0;
  padding: 0;
}

.references__container {
  height: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #FFFFFF;
}

.references__header {
  margin-bottom: 0;
}

.reference__link {
  display: inline-block;
  width: 20%;
  margin: 20px 0;
  text-decoration: none;
  font-weight: 300;
  color: #477E91;
}

.reference__link:hover {
  color: #E68A18;
}

.reference__logo {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  background-color: white;
  display: inline-block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50%;
  border: 1px solid white;
  border-radius: 5px;
}

.reference__link:hover .reference__logo {
  color: #E68A18;
  border-color: black;
}

.reference__link:hover .reference--twilio .reference__logo {
  border-color: #EE3248;
}

.reference__link:hover .reference--slack .reference__logo {
  border-color: #3EB890;
}

.reference__link:hover .reference--elm .reference__logo {
  border-color: #5A6378;
}

.reference--elm .reference__logo {
  background-image: url('./img/elm-lang.png');
}

.reference--slack .reference__logo {
  background-image: url('./img/slack.png');
}

.reference--twilio .reference__logo {
  background-image: url('./img/twilio.png');
}

.reference--github .reference__logo {
  background-image: url('./img/github.png');
}

.info {
  margin:5px 0;
  font-style:italic;
}

.me, .username.me {
  color: #E68A12;
}
.message-container {
  margin-top: 5px;
  margin-bottom: 5px;
}
.message-container .username {
  font-weight:bold;
  margin-right: 5px;
  display:inline-block;
}