* {
  box-sizing:border-box;
}

#contact-container form {
  width: 400px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 50px auto;
  background-color: rgba(0,0,0,0.2);
}

#chat-window {
  margin: 50px auto;
}

.hidden {
  display: none;
}

.button {
  border: 2px solid white;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 0;
  margin: 30px auto 0;
}

.button:hover {
  border-color: #E68A18;
  background-color: #477E91;
  cursor: pointer;
}

form input {
  display: block;
  width: 320px;
  height: 42px;
  margin: 0 20px 20px;
  font-size: 28px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid darkgrey;
  padding: 0;
  color: #FFFFFF;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #dedede;
  background-color: #477E91;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  width:100%;
  position:absolute;
  text-align:center;
  bottom:20px;
}

header a, header a:visited {
  font-size:18px;
  color:#dedede;
  text-decoration:none;
}

header a:hover {
  text-decoration:underline;
}

section {
  height:70%;
  background-color:#2B2B2A;
}

#chat-window input {
  display:block;
  height:52px;
  width:800px;
  margin:10px auto;
  outline:none;
  background-color:transparent;
  border:none;
  border-bottom:1px solid #2B2B2A;
  padding:0;
  font-size:42px;
  color: #FFFFFF;
  visibility: visible;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#chat-window input:disabled {
  background-color: rgba(0, 0, 0, 0.6);
  width: 0;
  visibility: hidden;
}

form {
  width: 800px;
  padding: 20px;
}

#messages {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  height: 500px;
  width: 800px;
  margin: 0 auto;
  overflow-y: auto;
}

#messages p {
  margin:5px 0;
  padding:0;
}

.info {
  margin:5px 0;
  font-style:italic;
}

.me, .username.me {
  font-weight:bold;
  color: #E68A12;
}

.message-container .username.me {
  display:inline-block;
  margin-right:5px;
}